<mat-card class="example-card pred-card">
  <mat-card-header>
    <mat-card-title class="pred-card-title aa">
      <h4>All Locations</h4>
      <a href="#" class="pred-ellipsis"><i class="zmdi zmdi-more"></i></a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>54</h1>
    <div class="flex-container">
      <div *ngFor="let info of data">
        <h5>{{info.name}}</h5>
        {{info.id}}
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions class="pred-card-footer">
    <a href="#">
      <i class="zmdi zmdi-open-in-new"></i><span>See details</span>
    </a>
  </mat-card-actions>
</mat-card>
