<!--<mat-card>Simple card</mat-card>
<div class="pred-card">
  <div class="pred-card-title">
    <h4>All Locations</h4>
    <a href="#" class="pred-ellipsis"><i class="zmdi zmdi-more"></i></a>
  </div>
  <div class="pred-card-content">
    Content
  </div>
  <div class="pred-card-footer">
    <a href="#">
      <i class="zmdi zmdi-open-in-new"></i><span>See details</span>
    </a>
  </div>
</div>-->

<mat-card class="example-card pred-card">
  <mat-card-header>
    <mat-card-title class="pred-card-title aa">
      <h4>AAll Locations</h4>
      <a href="#" class="pred-ellipsis"><i class="zmdi zmdi-more"></i></a>
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <h1>54</h1>
    <div class="flex-container">
      <div>
        <h5>Type A</h5>
        40
      </div>
      <div><h5>Type B</h5>
        30</div>
      <div><h5>Type C</h5>
        40</div>
      <div><h5>Type D</h5>
        50</div>
    </div>

  </mat-card-content>
  <mat-card-actions class="pred-card-footer">
    <a href="#">
      <i class="zmdi zmdi-open-in-new"></i><span>See details</span>
    </a>
  </mat-card-actions>
</mat-card>
