<header>
  <div class="pred-title-bar">
    <a href="#" class="pred-link-icon pred-hamburger"> <i class="zmdi zmdi-menu"></i> </a>
    <h1>Predicto</h1>
    <div class="pred-top-search">
      <i class="zmdi zmdi-search"></i> <input type="search" placeholder="Search">
    </div>
    <div class="pred-header-controls">
      <a class="pred-link-icon pred-notification-control" [matMenuTriggerFor]="notificationMenu">
        <i class="zmdi zmdi-notifications"></i>
        <span class="pred-badge">15</span>
      </a>
      <mat-menu #notificationMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>Notification 1</button>
        <button mat-menu-item>Notification 2</button>
        <button mat-menu-item>Notification 3</button>
      </mat-menu>

      <a class="pred-link-icon pred-user-control" [matMenuTriggerFor]="menu"> <i></i></a>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>Edit Profile</button>
        <button mat-menu-item>Change Password</button>
        <button mat-menu-item *ngIf="authService.isLoggedIn()" (click)="authService.logout()" routerLink="/login">Logout</button>
      </mat-menu>

    </div>
  </div>
</header>

<nav class="pred-navigation pred-navigation-collapsed">
  <ul>
    <li>
      <a href="#" class="here"> <i class="zmdi zmdi-view-module"></i> <span>Dashboard</span> </a>
    </li>
    <li>
      <a href="#"> <i class="zmdi zmdi-input-composite"></i> <span>Devices</span> </a>
    </li>
    <li>
      <a href="#"> <i class="zmdi zmdi-pin"></i> <span>Locations</span> </a>
    </li>
    <li>
      <a href="#"> <i class="zmdi zmdi-chart-donut"></i> <span>Data Chart</span> </a>
    </li>
    <li>
      <a href="#"> <i class="zmdi zmdi-file-text"></i> <span>Reports</span> </a>
    </li>
  </ul>
</nav>

<div class="pred-container pred-card-wrapper" *ngIf="authService.currentUser.admin">
  <div>
    <app-user-info-card></app-user-info-card>
  </div>
  <div>
    <app-all-devices-card></app-all-devices-card>
  </div>
  <div>
    <app-all-locations-card></app-all-locations-card>
  </div>
  <div>
    <app-critical-devices-card></app-critical-devices-card>
  </div>
  <div>
    <app-critical-locations-card></app-critical-locations-card>
  </div>
  <div>
    <app-health-summary-card></app-health-summary-card>
  </div>

  <!--
	<mat-card>Simple card1</mat-card>
  -->
</div>

