
<div class="pred-container pred-card-wrapper" *ngIf="authService.currentUser.admin">
  <div>
    <app-user-info-card></app-user-info-card>
  </div>
  <div>
    <app-all-devices-card></app-all-devices-card>
  </div>
  <div>
    <app-all-locations-card></app-all-locations-card>
  </div>
  <div>
    <app-critical-devices-card></app-critical-devices-card>
  </div>
  <div>
    <app-critical-locations-card></app-critical-locations-card>
  </div>
  <div>
    <app-health-summary-card></app-health-summary-card>
  </div>

  <!--
	<mat-card>Simple card1</mat-card>
  -->
</div>

